<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Customer Segmentation Menu Items -->
    <menuitem id="menu_customer_segmentation_root" name="Customer Segmentation" 
              parent="sale.menu_sale_config" action="" sequence="10"/>

    <!-- Import Customers Menu -->
    <menuitem id="menu_customer_import_wizard" name="Import Customers" 
              parent="menu_customer_segmentation_root"
              action="action_customer_import_wizard" sequence="1"/>

    <!-- View Imports Menu -->
    <menuitem id="menu_customer_import_list" name="Import History" 
              parent="menu_customer_segmentation_root"
              action="action_customer_import_list" sequence="2"/>

    <!-- Actions -->
    <record id="action_customer_import_wizard" model="ir.actions.act_window">
        <field name="name">Import Customers/Vendors</field>
        <field name="res_model">customer.import.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
        <field name="view_id" ref="view_customer_import_wizard_form"/>
    </record>

    <record id="action_customer_import_list" model="ir.actions.act_window">
        <field name="name">Import History</field>
        <field name="res_model">customer.import</field>
        <field name="view_mode">tree,form</field>
        <field name="search_view_id" ref="view_customer_import_search"/>
    </record>

    <record id="action_view_customers" model="ir.actions.act_window">
        <field name="name">Customers</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,tree,form</field>
        <field name="search_view_id" ref="base.view_res_partner_filter"/>
        <field name="domain">[('customer_rank', '&gt;', 0)]</field>
    </record>

</odoo>
