<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Actions must be defined BEFORE menuitems that reference them -->
    <record id="action_customer_import_wizard" model="ir.actions.act_window">
        <field name="name">Import Customers/Vendors</field>
        <field name="res_model">customer.import.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
        <field name="view_id" ref="view_customer_import_wizard_form"/>
    </record>

    <record id="action_customer_import_list" model="ir.actions.act_window">
        <field name="name">Import History</field>
        <field name="res_model">customer.import</field>
        <field name="view_mode">list,form</field>
        <field name="search_view_id" ref="view_customer_import_search"/>
    </record>

    <menuitem id="menu_customer_segmentation_root" name="Customer Segmentation"
              parent="sale.menu_sale_config" sequence="50"/>

    <menuitem id="menu_customer_import_wizard" name="Import Customers"
              parent="menu_customer_segmentation_root"
              action="action_customer_import_wizard" sequence="1"/>

    <menuitem id="menu_customer_import_list" name="Import History"
              parent="menu_customer_segmentation_root"
              action="action_customer_import_list" sequence="2"/>

</odoo>
