.pos-receipt {
    .online-campaign-receipt-details {
        border-top: 1px dashed #777;
        margin-top: 0.25rem;
        padding-top: 0.25rem;
        font-size: 0.9em;
    }

    .online-campaign-net-line {
        padding-left: 0.75rem;
    }

    .online-campaign-receipt-totals {
        border-top: 1px dashed #555;
        border-bottom: 1px dashed #555;
    }
}
