$o-color-palettes: map-merge($o-color-palettes, (
    'anabtawi': (
        'o-color-1': #c89211,
        'o-color-2': #5e3c32,
        'o-color-3': #f6f2ec,
        'o-color-4': #ffffff,
        'o-color-5': #2b211e,
    ),
));

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'anabtawi');

$o-theme-font-configs: map-merge($o-theme-font-configs, (
    'Cairo': (
        'family': ('Cairo', 'Arial', sans-serif),
        'url': 'Cairo:300,400,500,600,700,800',
    ),
));

$o-website-values-palettes: (
    (
        'color-palettes-name': 'anabtawi',
        'font': 'Cairo',
        'headings-font': 'Cairo',
        'navbar-font': 'Cairo',
        'buttons-font': 'Cairo',
    ),
);
